# ======================
# Node / Frontend
# ======================
node_modules/
dist/
build/
.vite/

# ======================
# PHP
# ======================
vendor/

# ======================
# Environment
# ======================
.env
.env.*

# ======================
# Logs
# ======================
logs/
*.log

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE
# ======================
.vscode/
.idea/

# ======================
# Cache / Temp
# ======================
*.cache
*.tmp